<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
<!--    <connectionStrings>
        <add name="MongoDb" connectionString="mongodb://Guest:Pa$$w0rd@ds137019.mlab.com:37019/sneakersdb" />
    </connectionStrings>-->
    <connectionStrings>
        <add name="MongoDb" connectionString="mongodb://admin_user_for_db:admin_user_for_db@ds161148.mlab.com:61148/db_mongo_server" />
    </connectionStrings>
</configuration>